@import "owl.carousel.css";
@import "owl.theme.default.min.css";
@import "bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap');

$xxl: 1400px;
$xl: 1200px;
$lg: 993px;
$md: 769px;
$sm: 577px;
$xs: 428px;

@mixin _xl {
  @media(screen and max-width: $xxl) {
    @content
  }
}

@mixin _xl {
  @media(screen and max-width: $xl) {
    @content
  }
}

@mixin _lg {
  @media(screen and max-width: $lg) {
    @content
  }
}

@mixin _md {
  @media(screen and max-width: $md) {
    @content
  }
}

@mixin _sm {
  @media(screen and max-width: $sm) {
    @content
  }
}

@mixin _xs {
  @media(screen and max-width: $xs) {
    @content
  }
}

$inter: 'Inter', sans-serif;
$readex: 'Readex Pro', sans-serif;
$fs_h5: 32px;
$fs_h3: 42px;

a {
  text-decoration: 0;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.hover-logo {
  transition: 0.33s;

  &:hover {
    transform: scale(1.11);
    transition: 0.33s;
  }
}

.container {
  max-width: 1295px;
}

.h3_fonts {
  font-size: $fs_h3;
  line-height: 52px;
  font-family: $readex;
  @include _lg {
    font-size: 38px;
  }


}

h2 {
  font-size: 58px;
  line-height: 70px;
  font-family: $readex;

  @include _xl {
    font-size: 48px;
    line-height: 55px;

  }
  @include _lg {
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
  }
  @include _md {
    font-size: 27px;
  }
  @include _sm {
    font-size: 21px;
    line-height: 32px;
  }
  @include _xs {
    font-size: 16px;
    line-height: 18px;
  }
}


.sub_title {
  font-family: $readex;
  font-size: 14px;
  line-height: 16.8px;
}


header {
  padding: 30px 0;

  .navbar {
    .navbar-nav {
      text-transform: uppercase;
      font-family: $inter;
      font-size: 14px;
      line-height: 17px;

      a {
        transition: .11s;

        &:hover {
          transform: scale(1.1);
          transition: .11s;
        }
      }

      .nav-link-after {
        &:after {
          content: "\f107";
          font-family: "Font Awesome 6 Free", sans-serif;
          font-weight: 900;
          font-size: 16px;
          display: flex;
          margin-left: 5px;

        }
      }

    }
  }

  .nav-search-buy {

    a {
      img {
        transition: .11s;

        &:hover {
          transform: scale(1.11);
          transition: .11s;
        }
      }
    }
  }
}

.main {
  padding: 28px 0 75px;

  .main_carousel_page {
    background-color: #DCE5E2;
    border-radius: 32px;

    p {
      font-family: $inter;
      font-size: 16px;
      line-height: 19px;
      @include _lg {
        font-size: 14px;
        line-height: 17px;
      }
      @include _md {
        font-size: 12px;
      }

    }

    .main-carousel_wrap {
      width: 52%;

    }

    .main-carousel_wrap-text {
      width: 47%;


    }

    a {
      font-family: $inter;
      font-size: 18px;
      line-height: 22px;
      padding: 14px 53px;
      background-color: transparent;
      transition: 0.4s;
      @include _lg {

        padding: 5px 0;

      }
      @include _sm {
        font-size: 10px;
      }

      &:hover {
        background-color: #b5bdba;
        transition: 0.4s;
      }

      @include _xs {

      }
    }
  }
}

.owl-carousel.slide-one {
  .disabled {
    display: block;
  }

  .owl-nav {
    .owl-prev {
      &:after {
        content: "\f053";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 24px;
        color: black;
        position: absolute;
        top: 44%;
        left: 19px;
        z-index: 3;

        @include _sm {
          top: 45%;
          left: 2px;
        }
        @include _xs {
          top: 45%;
        }
      }
    }

    .owl-next {
      &:after {
        content: "\f054";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 24px;
        color: black;
        position: absolute;
        top: 44%;
        right: 19px;
        z-index: 3;

        @include _sm {
          top: 45%;
          right: 2px;
        }
        @include _xs {
          top: 45%;
        }
      }
    }
  }

  .owl-dots {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 10%;
    width: 80%;
    @include _xl {
      bottom: 0px;
      left: 11%;
    }


    .owl-dot.active {
      span {
        height: 8px;
        border: 2px solid black;
        background-color: transparent;
        margin-bottom: 3px;
        border-radius: 20px;
        transition: .33s;
        position: relative;
        bottom: -7px;
      }
    }

    .owl-dot {
      width: 33%;

      span {
        display: block;
        height: 2px;
        background-color: black;
        margin: 0 16px;
        transition: .33s;
      }
    }
  }
}

.latest_offers {
  padding-bottom: 100px;

  .sub_title {
    max-width: 628px;
  }

  h5 {
    font-family: $readex;
    font-size: $fs_h5;
    line-height: 38px;
    @include _xs {
      font-size: 20px;
      line-height: 20px;
    }

  }

  p {
    font-family: $inter;
    font-size: 14px;
    line-height: 17px;
    @include _sm {
      font-size: 10px;
      line-height: 12px;
    }
  }

  .h5-laptop {
    max-width: 192px;
  }

  .h5-watches {
    max-width: 128px;
    @include _sm {
      max-width: 200px;
    }
  }

  .h5-phones {
    max-width: 250px;
  }

  .h5-tab {
    max-width: 233px;
  }

  .latest_offer_item1 {
    max-width: 500px;


  }

  .latest_offer_item2 {
    max-width: 381px;

  }

  .latest_offer_item3 {
    max-width: 300px;

  }

  .latest_offer_item4 {
    max-width: 320px;

  }


  .watch_position {
    top: 22px;
    @include _lg {
      position: static;
    }
  }

  .latest_hover {
    transition: 0.33s;

    &:hover {
      transform: scale(1.04);
      transition: 0.33s;
    }
  }
}

.best_sellers {
  padding-bottom: 74px;

  .sub_title {
    font-size: 13px;
  }

  .card {
    &:hover {
      background-color: lightgrey;
    }
  }

  .card_img {
    max-width: 274px;
  }

  h5 {
    font-size: 22px;
    line-height: 28px;
    font-family: $readex;

    &:hover {
      text-decoration: underline 2px;
      transition: 0.3s;
    }
  }


  p {
    font-size: 14px;
    line-height: 17px;
    font-family: $inter;

  }
}


.most_popular {
  padding-bottom: 75px;

  h5 {
    font-family: $readex;
    font-size: 28px;
    line-height: 35px;
  }

  p {
    font-family: $readex;
    font-size: 14px;
    line-height: 16.8px;
  }

  .card {
    background: #F8F9FA;
    transition: .33s;

    &:hover {
      transform: scale(1.1);
      transition: .33s;
    }
  }

  .popular_arrivals {
    max-width: 259px;
  }

  .popular_saling {
    max-width: 294px;
  }

  .popular_product {
    max-width: 355px;
  }

  .btn {
    padding: 14px 63px;
    transition: 0.11s;

    &:hover {
      transform: scale(1.11);
      transition: 0.11s;
    }

  }
}

.ideas {
  padding-bottom: 74px;

  .row {
    margin-bottom: 74px;

    .ideas_img {
      max-width: 620px;
      border-radius: 20px;

    }

    p {
      font-family: $inter;
      font-size: 24px;
      line-height: 30px;
      @include _sm {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  a {
    display: inline-block;
    font-family: $inter;
    font-size: 24px;
    line-height: 28.8px;
    text-transform: capitalize;
    transition: .33s;
    @include _sm {
      font-size: 18px;
      line-height: 22px;
    }

    &:after {
      content: "";
      display: inline-block;
      width: 18px;
      height: 18px;
      background-image: url("../images/up-right.svg");
      background-size: cover;
    }

    &:hover {
      transform: scale(1.2);
      transition: .33s;
    }
  }
}

.search {
  padding-bottom: 19px;

  .form-control {
    &:focus {
      border-color: #C5C5C5;
      box-shadow: none;
    }
  }

  .input-group {
    .form-control:focus{
      background-color: #F8F9FA;
    }
    height: 60px;
    @include _md {
      font-size: 12px;
    }
  }

  button {
    border-radius: 100px 0 0 100px;
    border: 1px solid #C5C5C5;
    border-right: none;
    background-color: #F8F9FA;

    &:hover img {
      transform: scale(1.3);
    }
  }

  input {
    border-radius: 0 100px 100px 0;
    border: 1px solid #C5C5C5;
    background-color: #F8F9FA;
    border-left: none;
    font-family: $inter;
  }


  .chapter {
    a {
      margin-right: 5px;
      padding: 12px 22px;
      font-family: $inter;
      font-size: 14px;
      @include _lg {
        font-size: 12px;
        line-height: 13px;
      }
      @include _sm {
        font-size: 11px;
        line-height: 13px;
        padding: 7px 12px;
      }
    }

  }

  .email_search {
    background-color: #DCE5E2;
    border-radius: 16px;

    input {
      border: 1px solid black;
      border-radius: 54px 0 0 54px;
      border-right: none;
      @include _md {

        font-size: 12px;
      }

      &:active {
        text-decoration: none;
        border: none;
      }
    }

    button {
      border: none;
      border-radius: 0 200px 200px 0;
      padding: 16px 33px;
      @include _md {
        padding: 8px 16px;
        font-size: 12px;
      }
    }
  }
}

footer {
  background-color: #F8F9FA;

  li {
    font-family: $inter;
    font-size: 17px;
    line-height: 17px;
  }

  a {
    &:hover {
      text-decoration: underline 2px black;
    }
  }

  .logo_footer {
    p {
      font-size: 16px;
      line-height: 19.2px;

    }

    a {
      display: inline-block;

      &:hover {
        transform: scale(1.10);
      }
    }
  }

  h6 {
    font-family: $readex;
    font-size: 22px;
    line-height: 22px;
    @include _lg {
      font-size: 17px;
      font-weight: bolder;
    }
  }

  hr {
    background-color: #DCE5E2;
  }
}

